.resto-main {
    max-width: 1000px;
    margin: 0 auto;
}
.resto-main hr{
    color: #e3f2ff ;
    
}
.resto-main .restomenu-head{
    text-align: center;
    margin: 1em;
}
/* .resto-main .restomenu .restomenu-img{
    position: sticky    ;
} */
.resto-main .restomenu .restomenu-img img {
    height: 9em;
    width: 12em;
}

.resto-main .restomenu {
    display: flex;
    margin-top: 1em;
    justify-content: space-between;
    background-color: rgb(248, 248, 248);
}

.resto-main .restomenu .restomenu-content {
    max-width: 49em;
    margin: 1em;
    
}
.resto-main .restomenu .restomenu-content .discription{
    color: #4d5053 ;
}